<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  </head>
  <body>
     <header class="header">
      <h1 class="fullName"><%= fullName %></h1>
      <p><%= position %></p>
      
     </header>
     <main>
        <section class="section">
          <div class="icons">
            <a class="facebook" href="https://www.facebook.com/MiguelxPonce/">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="instagram" href="https://www.instagram.com/miguelxp_21?igsh=MTBobmo5bWk4MmVtbg==">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="github" href="https://github.com/miguelxp20">
              <i class="fa-brands fa-github"></i>
            </a> 
          </div>
          <article>Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Exercitationem quidem praesentium 
            delectus consectetur quisquam illo. Saepe molestias 
            omnis est commodi?Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Ut repellat labore soluta maxime sunt 
             eaque laboriosam, nostrum quibusdam praesentium in! Lorem 
             ipsum dolor sit amet consectetur adipisicing elit. Suscipit 
             necessitatibus sed ducimus laudantium dolore odit! Dicta eius 
             quis temporibus nostrum!
          </article> 
          <div class="btns">
            <button><a class="opcion" href="/public/images/CV-MiguelPonce.png" download="ArchivoCurriculum">DESCARGAR CV</a></button>
            <button><a class="opcion" href="https://wa.me/qr/DOHAASHSSGMRA1">CONTACTAME</a></button>
          </div>
        </section>
        <section class="experiencia">
          <h2>EXPERIENCIA LABORAL</h2>
          <div class="container-experiencia">
            
            <div class="separador-uno">
              
              <div class="elementos">
                <h3>Chief Project Manager</h3>
                <div class="informacion-extra">
                <p class="titulo">Lorem ipsum dolor sit amet.</p>
                <p class="fecha">Enero del 2024 - Mayo 15</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  Vitae, iste neque possimus corrupti repudiandae repellendus 
                  nihil voluptate necessitatibus rerum, expedita similique tempore 
                  optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                </div>
              </div>
              <div class="elementos">
                <h3>Senior UX/UI Designer</h3>
                <div class="informacion-extra">
                  <p class="titulo">Lorem ipsum dolor sit amet.</p>
                  <p class="fecha">Enero del 2024 - Mayo 15</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Vitae, iste neque possimus corrupti repudiandae repellendus 
                    nihil voluptate necessitatibus rerum, expedita similique tempore 
                    optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                  </div>
              </div>
            </div>
            <div class="separador-dos">
              
              <div class="elementos">
                <h3>Chief Project Manager</h3>
                <div class="informacion-extra">
                  <p class="titulo">Lorem ipsum dolor sit amet.</p>
                  <p class="fecha">Enero del 2024 - Mayo 15</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Vitae, iste neque possimus corrupti repudiandae repellendus 
                    nihil voluptate necessitatibus rerum, expedita similique tempore 
                    optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                  </div>
              </div>
              <div class="elementos">
                <h3>Senior UX/UI Designer</h3>
                <div class="informacion-extra">
                  <p class="titulo">Lorem ipsum dolor sit amet.</p>
                  <p class="fecha">Enero del 2024 - Mayo 15</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Vitae, iste neque possimus corrupti repudiandae repellendus 
                    nihil voluptate necessitatibus rerum, expedita similique tempore 
                    optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                  </div>
              </div>
            </div>
          </div>
        </section>

        <section class="experiencia">
          <h2>HABILIDADES</h2>
          <div class="container-experiencia">
            
            <div class="separador-uno">
              
              <div class="elementos">
                <h3>Chief Project Manager</h3>
                <div class="informacion-extra">
                <p class="titulo">Lorem ipsum dolor sit amet.</p>
                <p class="fecha">Enero del 2024 - Mayo 15</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                  Vitae, iste neque possimus corrupti repudiandae repellendus 
                  nihil voluptate necessitatibus rerum, expedita similique tempore 
                  optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                </div>
              </div>
              <div class="elementos">
                <h3>Senior UX/UI Designer</h3>
                <div class="informacion-extra">
                  <p class="titulo">Lorem ipsum dolor sit amet.</p>
                  <p class="fecha">Enero del 2024 - Mayo 15</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Vitae, iste neque possimus corrupti repudiandae repellendus 
                    nihil voluptate necessitatibus rerum, expedita similique tempore 
                    optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                  </div>
              </div>
            </div>
            <div class="separador-dos">
              
              <div class="elementos">
                <h3>Chief Project Manager</h3>
                <div class="informacion-extra">
                  <p class="titulo">Lorem ipsum dolor sit amet.</p>
                  <p class="fecha">Enero del 2024 - Mayo 15</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Vitae, iste neque possimus corrupti repudiandae repellendus 
                    nihil voluptate necessitatibus rerum, expedita similique tempore 
                    optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                  </div>
              </div>
              <div class="elementos">
                <h3>Senior UX/UI Designer</h3>
                <div class="informacion-extra">
                  <p class="titulo">Lorem ipsum dolor sit amet.</p>
                  <p class="fecha">Enero del 2024 - Mayo 15</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Vitae, iste neque possimus corrupti repudiandae repellendus 
                    nihil voluptate necessitatibus rerum, expedita similique tempore 
                    optio nostrum debitis praesentium non harum maxime exercitationem?</p>
                  </div>
              </div>
            </div>
          </div>
        </section>
        
     </main>
  </body>
</html>
