<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  </head>
  <body>
     <header class="header">
      <h1 class="fullName">Miguel Ponce</h1>
      <p>Ingeniero en Informatica y experto en ciberseguridad.</p>
      
     </header>
     <main>
      
        <section class="section">
          <div class="icons">
            <a class="facebook" href="https://www.facebook.com/MiguelxPonce/">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="instagram" href="https://www.instagram.com/miguelxp_21?igsh=MTBobmo5bWk4MmVtbg==">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="github" href="https://github.com/miguelxp20">
              <i class="fa-brands fa-github"></i>
            </a> 
          </div>
          <article>Soy Miguel Ponce, graduado de la Universidad Nacional Experimental de Los LLanos
            Centrales Romulo Gallegos (UNERG). Egresado de Ingeniero informático con una especialización en seguridad cibernética y 5 años 
            de experiencia en el mercado. Experiencia laboral en Jefe de Proyecto, Arquitecto de Seguridad, Senior Pentester, Analista de Ciberseguridad
            a nivel internacional, garantizando en ellas una seguridad de un 99.2% ante violaciones informáticas. Deseo trabajar en Palo Alto Network para seguir ampliando
            mi trayectoria y ayudar a la compañia a consolidarse en el mercado.
          </article> 
          <div class="btns">
            <button><a class="opcion" href="/images/CV-MIGUELPONCE.pdf" download="ArchivoCurriculum">DESCARGAR CV</a></button>
            <button><a class="opcion" href="https://wa.me/qr/DOHAASHSSGMRA1">CONTACTAME</a></button>
          </div>
        </section>
        <section class="experiencia">
          <h2>EXPERIENCIA LABORAL</h2>
          <div class="container-experiencia">
            
            <div class="separador-uno">
              
              <div class="elementos">
                <h3>Chief Project Manager</h3>
                <div class="informacion-extra">
                <p class="titulo">Jefe de Proyecto en SecureWorks.</p>
                <p class="fecha">Enero del 2020 - Noviembre 15.</p>
                <p>Durante mi tiempo en SecureWorks, tuve la oportunidad de trabajar en un entorno
                  dinamico y desafiante donde pude aplicar mis habilidades en ciberseguridad para 
                  proteger a nuestros clientes de amenazas ciberneticas
                </p>
                </div>
              </div>
              <div class="elementos">
                <h3>Senior Pentester</h3>
                <div class="informacion-extra">
                  <p class="titulo">Senior Pentester en Imperva.</p>
                  <p class="fecha">Febrero del 2021 - Julio 03 del 2022.</p>
                  <p>Durante mi tiempo en Imperva como pentester, tuve la oportunidad de aplicar
                    mis habilidades tecnicas y conocimientos en ciberseguridad para evaludar la
                    seguridad de los sistemas y aplicaciones de nuestros clientes.
                  </p>
                  </div>
              </div>
            </div>
            <div class="separador-dos">
              
              <div class="elementos">
                <h3>Arquitecto de Seguridad</h3>
                <div class="informacion-extra">
                  <p class="titulo">Arquitecto de Seguridad en CloudFlare.</p>
                  <p class="fecha">Septiembre del 2022 - Mayo 19 del 2023.</p>
                  <p>Trabaje en estrecha colaboracion con equipos multidisciplinarios
                    para diseñar e implementar soluciones de seguridad innovadoras, como 
                    firewalls de aplicaciones web, proteccion DDoS y servicios de CDN seguros.
                  </p>
                  </div>
              </div>
              <div class="elementos">
                <h3>Analista de Ciberseguridad</h3>
                <div class="informacion-extra">
                  <p class="titulo">Analista de Ciberseguridad en Rapid7.</p>
                  <p class="fecha">Julio del 2023 - Marzo 02 del 2024.</p>
                  <p>Mi experiencia en Rapid7 me permitio adquirir habilidades solidas
                    en la deteccion y mitigacion de amenazas, la implementacion de medidas
                    de seguridad proactivas y la gestion eficaz de incidentes ciberneticos.
                  </p>
                  </div>
              </div>
            </div>
          </div>
        </section>

        <section class="experiencia">
          <h2>HABILIDADES</h2>
        
                <div class="bloques">
                    <div class="bloque">
                          <h3 class="bloque_titulo">Profesional</h3>
                          <p>-Python</p>
                          <p>-PowerShell</p>
                          <p>-C++</p>
                          <p>-SQL</p>
                    </div> <!--.bloque-->
        
                    <div class="bloque">
                        <h3 class="bloque_titulo">Idiomas</h3>
                        <p>-Español ----- 100%.</p>
                        <p>-Ingles ------ 85%.</p>
                        <p>-Frances ----- 50%.</p>
                    </div> <!--.bloque-->
        
                    <div class="bloque">
                        <h3 class="bloque_titulo">Personal</h3>
                        <p>-Tener buenas habilidades comunicativas.</p>
                        <p>-Trabajo en equipo.</p>
                        <p>-Puntualidad.</p>
                        <p>-Capacidad para delegar responsabilidades.</p>
                    </div> <!--.bloque-->
          </div>
        </section>
        <form action="/form-contact" method="post" id="form" class="form">
          <h2 class="form-title">Inicia Sesion</h2>
          <p class="paragraph">¿Aun no tienes sesion iniciada? <a class="ghost-link" href="#">Entra aquí.</a></p>
          
          <div class="form-container">
            
            <div class="form-group">
              <input name="name" type="text" id="name" class="form-input" placeholder="" required>
              <label for="name" class="form-label">Nombre:</label>
              <span class="form-line"></span>
            </div>

            <div class="form-group">
              <input name="email" type="email" id="email" class="form-input" placeholder="" required>
              <label for="email" class="form-label">Email:</label>
              <span class="form-line"></span>
            </div>

            <div class="form-group">
              <input name="comment" type="text" id="comment" class="form-input" placeholder="" required>
              <label for="comment" class="form-label">Comentario:</label>
              <span class="form-line"></span>
            </div>

            <input  type="submit" id="form-submit" class="form-submit" value="Enviar">

          </div>
        </form>
        <footer>
          <h1>Miguel Ponce - C.I: 31.031.348</h1>
        </footer>
        
     </main>
  </body>
</html>
