<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  </head>
  <body>
     <header class="header">
      <h1 class="fullName"><%= fullName %></h1>
      <p><%= position %></p>
      
     </header>
     <main>
        <section class="section">
          <div class="icons">
            <a class="facebook" href="https://www.facebook.com/MiguelxPonce/">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="instagram" href="https://www.instagram.com/miguelxp_21?igsh=MTBobmo5bWk4MmVtbg==">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="github" href="https://github.com/miguelxp20">
              <i class="fa-brands fa-github"></i>
            </a> 
          </div>
          <article>Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Exercitationem quidem praesentium 
            delectus consectetur quisquam illo. Saepe molestias 
            omnis est commodi?Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Ut repellat labore soluta maxime sunt 
             eaque laboriosam, nostrum quibusdam praesentium in! Lorem 
             ipsum dolor sit amet consectetur adipisicing elit. Suscipit 
             necessitatibus sed ducimus laudantium dolore odit! Dicta eius 
             quis temporibus nostrum!


          </article>
          <div class="btns">
            <button>DESCARGAR CV</button>
            <button>CONTACTAME</button>
          </div>
        </section>
     </main>
  </body>
</html>
