html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #cccccc;
  height: cover;
}

.header{
  background-color: #1e375c;
  text-align: center;
  color: #ffffff;
}

.header p{
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
  font-size: 2rem;
  padding: 30px 0 10px 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
  background-color: #fafafa;
  height: cover;
}

.section{
  margin: 10px auto;
  padding: 20px 50px;
  width: 90%;
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
  text-align: center;

}

.icons {
  padding: 20px 0;
  color: #a1a1a1;
  font-size: 2rem;
}

.icons i{
  margin: 0 5px;
}

.facebook i{
  color: rgb(62, 49, 231);
}

.instagram i{
  color: #e85a2f;
}

.github i{
  color: #24292e;
}

.section article {
  text-align: center;
  margin-bottom: 30px;
}

.btns button{
  padding: 10px 15px;
  background-color: #4585ed;
  border: none;
  margin: 10px 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #555;
  grid-template-columns: (1,1fr);
  gap: 1rem;
  
}

@media (min-width: 768px) {
  .btns button{
    grid-template-rows: (2, 1fr);
    gap: 10px;
  }
}

button .contactame{
  color: #ffffff;
  text-decoration: none;
}

button .opcion{
  color: #ffffff;
  text-decoration: none;
}

.experiencia h2{
  text-align: center;
  padding: 20px 0;
  color: #4b4b4b;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-experiencia{
  display: grid;
  padding: 40px;
  gap: 1rem;
}

@media (min-width: 768px) {
  .container-experiencia{
    grid-template-columns: repeat(2, 1fr);
  }
}

.elementos{
  box-shadow: 1px 1px 10px #555;
}

@media (min-width: 768px) {
    .container-experiencia{
      grid-template-rows: (4, 1fr);
    }
}

.elementos h3{
  font-weight: 100;
  color: #ffffff;
  padding: 20px;
  background-color: #424242;
}

.informacion-extra{
  padding: 20px;
}

.titulo,
.fecha{
  font-weight: 600;
  margin-bottom: 10px;
}

.separador-uno{
  padding: 0 30px;
  border-right: solid 2px #4585ed;
}

.separador-uno .elementos{
  margin-bottom: 70px;
}

.separador-dos{
  padding: 0 30px;
}

.separador-dos .elementos:first-child{
  transform: translateY(50px);
}

.separador-dos .elementos:nth-child(2){
  transform: translateY(50px);
}

.separador-dos .elementos{
  margin-bottom: 70px;
}

.bloques{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 468px) {
  .bloques{
    grid-template-columns: repeat(3, 1fr);
  }
}

.bloque{
  text-align: center;
}